/* =============== GOOGLE FONTS ================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* =============== BASE ================ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =============== TEMPORARY ================ */
body {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #1d1d61 0%, #0380c9 74%);
    color: #000;
}

/* =============== NAVIGATION SECTION ================ */

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: #000;
  }
  
  header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }

  /* =============== MEDIA QUERIES ================ */
  @media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }

    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
    }
  
    header .navigation .navigation-items a{
      color: #222;
      font-size: 1.2em;
      margin: 20px;
    }
  
    header .navigation .navigation-items a:before{
      background: #222;
      height: 5px;
    }
  
    header .navigation.active .navigation-items{
      background: #fff;
      width: 600px;
      max-width: 600px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url(/images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
      }
    
      .menu-btn.active{
        z-index: 999;
        background: url(/images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
      }
  
    
  }
  
   /* =============== TEAM SECTION ================ */
section {
  padding: 100px 0;
}

.heading {
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 3px;
  margin-right: -3px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
  position: relative;
}

.heading::after {
  content: "";
  width: 100px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.card-wrapper {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.card {
  width: 320px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card .card-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 1% 88%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -110px;
  z-index: 777;
  border: 10px solid #fff;
}

.card h1 {
  font-size: 25px;
  color: #333;
  margin: 15px 0;
}

.role-title {
  color: #777;
  font-size: 15px;
  font-weight: 300;
}

.about {
  font-size: 15px;
}