/* =============== GOOGLE FONTS ================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* =============== BASE ================ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* =============== TEMPORARY ================ */
body {
    background-color: #eee;
    color: #000;
}

/* =============== NAVIGATION SECTION ================ */

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
    background-color: rgba(1, 1, 1, 0.5);
  }
  
  header .brand{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  header .navigation{
    position: relative;
  }
  
  header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
  }
  
  header .navigation .navigation-items a:hover:before{
    width: 100%;
  }

  /* =============== MEDIA QUERIES ================ */
  @media (max-width: 1040px){
    header{
      padding: 12px 20px;
    }

    header .navigation{
      display: none;
    }
  
    header .navigation.active{
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
    }
  
    header .navigation .navigation-items a{
      color: #222;
      font-size: 1.2em;
      margin: 20px;
    }
  
    header .navigation .navigation-items a:before{
      background: #222;
      height: 5px;
    }
  
    header .navigation.active .navigation-items{
      background: #fff;
      width: 600px;
      max-width: 600px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
    }

    .menu-btn{
        background: url(/images/menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
      }
    
      .menu-btn.active{
        z-index: 999;
        background: url(/images/close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
      }
  
    
  }
  
   /* =============== TEAM SECTION ================ */
.title {
  text-align: center;
  text-transform: capitalize;
  color: #4746DF;
  margin: 10px 0;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to left, transparent 5%, #4746DF);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.team-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.member {
  flex: 1 1 250px;
  margin: 20px;
  text-align: center;
  padding: 20px 10px;
  cursor: pointer;
  max-width: 300px;
}

.member:hover {
  box-shadow: 0 10px 20px rgba(1, 1, 1, 0.1);
}

.member img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #4746DF;
  border-radius: 50%;
  margin: 0 auto;
}